<h1 class="text-center page-header"> <span class="glyphicon glyphicon-music" aria-hidden="true"></span> I'm all about that <s>bass</s> Boldipedia <span class="glyphicon glyphicon-music" aria-hidden="true"></span></h1> 

<p class="text-center"> Boldipedia was the first web application that I created during my Full Stack Web Development course at <a href="https://www.bloc.io">Bloc</a>.<br><br>

  A replica of a very well known website, through Boldipedia users can create, update and edit markdown based wikis. Users have the option of upgrading to a 'premium' account which allows them to create private wikis which can only be seen by themselves and by others added as collaborators. <br><br>

  For more information about the process of creating this web application, please see my <a href="https://www.tommynewbold.com">Portfolio</a>. <p>

