<h1 class="text-center"><%= @wiki.title %></h1>

<% if policy(@wiki).destroy? %>
<%= link_to "Delete Post", [@wiki], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
<% end %>
     
<p class='text-center'><%= markdown(@wiki.body) %></p>

<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>